.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: purple;
}

.label {
  margin: 10px;
  text-align: center;
}

.input {
  margin: 5px;
  border-radius: 5px;
  height: 20px;
  border: solid 1px purple;
}

.textArea {
  margin: 5px;
  border-radius: 10px;
  border: solid 1px purple;
}

.button {
  margin: auto;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  color: purple;
  border: solid 1px purple;
}
